alphabet-detector
asgiref
aws-psycopg2
boto
boto3
botocore
certifi
charset-normalizer
coreapi
coreschema
Django
django-autofixture
django-boto
django-cors-headers
django-filter
django-modeltranslation
django-rest-framework
django-rest-swagger
django-seed
django-storages
djangorestframework
drf-yasg
Faker
idna
inflection
itypes
Jinja2
jmespath
jsonfield
MarkupSafe
openapi-codec
packaging
Pillow
psycopg2
psycopg2-binary
python-dateutil
python-dotenv
pytz
PyYAML
requests
s3transfer
simplejson
six
sqlparse
toposort
typing_extensions
tzdata
uritemplate
urllib3
