asgiref
boto
boto3
botocore
Django
django-boto
django-cors-headers
django-filter
django-modeltranslation
django-rest-framework
django-storages
djangorestframework
jmespath
Pillow
aws-psycopg2
psycopg2-binary
python-dateutil
pytz
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
Faker
