alphabet-detector
asgiref
aws-psycopg2
boto
boto3
botocore
certifi
charset-normalizer
coreapi
coreschema
Django
django-autofixture
django-boto
django-cors-headers
django-filter
django-modeltranslation
django-rest-framework
django-storages
djangorestframework
Faker
jmespath
idna
inflection
itypes
Jinja2
jmespath
jsonfield
MarkupSafe
openapi-codec
packaging
Pillow
psycopg2-binary
python-dateutil
pytz
PyYAML
s3transfer
simplejson
six
sqlparse
toposort
typing_extensions
tzdata
urllib3
uritemplate




